{% extends 'customer/base.html' %}

{% block title %}
Invoice

{% endblock %}

{% block content %}
{% load static %}

<body id="bg" style="background-image:url('{% static 'customer/items/a1.jpg' %}')";>

<br>
<h3 align="center">All Invoices</h3>

<table>
<thead>
<tr>
<th>Customer Name</th>
    <th>Customer ID</th>
<th>Product Name</th>
    <th>Product ID</th>
    <th>Quantity</th>
<th>Selling Price</th>
    <th>Delivery Charge</th>
<th>Discount</th>
    <th>Total</th>
    <th>Payment</th>
<th>Due</th>
    <th>Payment Status</th>


    </tr>
</thead>
<tbody>
   {% for c in invoices %}
<tr>

     <td>{{ c.name_of_customer }}</td>
    <td>{{ c.customer_id }}</td>

    <td>{{ c.name_of_product }}</td>
    <td>{{ c.prod_id }}</td>
    <td>{{ c.quantity }}</td>
    <td>{{ c.total_price }}</td>
    <td>{{ c.delivery_charge }}</td>
    <td>{{ c.discount }}</td>
    <td>{{ c.total }}</td>
    <td>{{ c.payment }}</td>
    <td>{{ c.due }}</td>
    <td>
        {% if c.due > 0 %}
            Partially Paid
        {% else %}
            Paid
        {% endif %}
    </td>



</tr>
   {% endfor %}
</tbody>
</table>


<br><br><br><br>

<form method="POST">
       {% csrf_token %}
&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202
&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202
&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202
&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202 &#8202&#8202&#8202 &#8202&#8202 &#8202
                  <button class="form-group btn btn-outline-info" type="submit">
                      Delete Invoice

                 </button>
   </form>


<br><br>
</body>


<style>

h3{
     color:#028494;
     font-size:36px;
     font-style:italic;
   }

   #bg{
    background-size: 1400px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment:fixed;

    }

table{
      font-family: arial,sans-serif;
      margin: 0 auto;
      width: 80%;
      margin-top: 100px;
      /*border-collapse: collapse; ise for table e single border er jo*/
 }
table tr th{
     border: 1px solid #ffffff;
     background-color: #17a2b8;
     color: #ffffff;
     padding: 16px 22px:
     border-radius: 5px 5px 0 0 !important;
 }
table tr th:first-child{
    text-align: left;
 }
table tr td{
     border: 1px solid #ffffff;
     background-color: rgb(82,183,233);
     padding: 10px 20px:
     text-align: center;
 }
table tr{
     opacity: .7;
 }
table tr:hover{
     opacity: 1;
 }

</style>



{% endblock %}





