{% extends 'customer/base.html' %}

{% block title %}
Sales Report
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<body id="bg" style="background-image:url('{% static 'customer/items/a1.jpg' %}')";>
<br>
<h3 align="center">Sales Report</h3>
<table>
<thead>
<tr>
<th>Product ID</th>
<th>Product Name</th>

<!--<th>Purchase</th>-->
<th>Sale</th>
<th>Stock</th>


    </tr>
</thead>
<tbody>
   {% for c in stocks %}
<tr>
       <td>{{ c.id }}</td>
       <td>{{ c.product_name }}</td>

       <!--<td>{{ c.purchase }}</td>-->
        <td>{{ c.sale }}</td>
    <td>{{ c.stock }}</td>


</tr>
   {% endfor %}
</tbody>
</table>

<br><br><br><br>
<form method="POST" action="{% url 'salesReport' %}">
    {% csrf_token %}

  <label for="pid">Product Id:</label><br>
  <input type="text" id="pid" name="pid"><br>
  <label for="quan">Quantity:</label><br>
  <input type="text" id="quan" name="quan">
<input type="submit" value="Submit" name="sales_button">
</form>
<br><br><br>
</body>


<style>
h3{
     color:#028494;
     font-size:36px;
     font-style:italic;
   }

   #bg{
    background-size: 1400px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment:fixed;

    }

table{
      font-family: arial,sans-serif;
      margin: 0 auto;
      width: 80%;
      margin-top: 100px;
      /*border-collapse: collapse; ise for table e single border er jo*/
 }
table tr th{
     border: 1px solid #ffffff;
     background-color: #17a2b8;
     color: #ffffff;
     padding: 16px 22px:
     border-radius: 5px 5px 0 0 !important;
 }
table tr th:first-child{
    text-align: left;
 }
table tr td{
     border: 1px solid #ffffff;
     background-color: rgb(82,183,233);
     padding: 10px 20px:
     text-align: center;
 }
table tr{
     opacity: .7;
 }
table tr:hover{
     opacity: 1;
 }

</style>



{% endblock %}