
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  text-align : center;
}

table{
  width: 95%;
    margin: auto;
  text-align: center;
 box-shadow: 12px 12px 20px 6px #2e6da4;
 font-size: 15px;
}

/*Make alternating colors for the table rows*/
table tr:nth-child(odd){
  background: #B8CAE4
}

table tr:nth-child(even){
 background: #dae5f4
}

.topnav {
  overflow: hidden;
  background-color: #f8f9fa;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f8f9fa;
  color: black;
}

.topnav a.active {
  background-color: #f8f9fa;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #f8f9fa;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #f8f9fa;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}






