
{% extends 'customer/base.html' %}

{% block title %}
AdminProfile
{% endblock %}

{% load static %}

{% block content %}

<html lang="en">
<head>

</head>

<body id="bg" style="background-image:url('{% static 'customer/items/back8.jpg' %}')";>

<img src="{{ customer.profile.profile_picture.url }}" alt="{{ customer.profile.profile_picture.url }}">


    <img style="height:70px; width:70px;" class="rounded-circle" src="{% static 'customer/items/back3.jpg' %}"ALIGN="left" />
<br><br><br><br>
{{ name }} <br><br>
{{ email }} <br><br>

<a href="{% url 'profileUpdate' %}">Update Profile</a><br><br>
<a href="{% url 'pass_change' %}">Change Password</a><br><br><br><br>




<a href="{% url 'addproduct' %}"> Add New Product &#8202 &#8202 &#8202 &#8202 &#8202 &#8202</a><br><br>

        <a href="{% url 'stockReport' %}"> Stock Report &#8202 &#8202</a>

<br><br><br><br>
</body>
<style>
    #bg{
    background-size: 1400px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment:fixed;

    }

</style>
</html>



{% endblock %}