{% extends 'customer/base.html' %}

{% block title %}
Home
{% endblock %}

{% load static %}


{% block content %}

<body id="bg" style="background-image:url('{% static 'customer/items/back12.jpg' %}')";>

<br><br><br><br>
        <a href="{% url 'productList' %}"> Products &#8202 &#8202</a>
<br><br>
        <a href="{% url 'profileUpdate' %}"> Update Profile &#8202 &#8202</a>
</body>
<style>
    #bg{
    background-size: 1400px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment:fixed;

    }

</style>
</html>




{% endblock %}
