{% extends 'customer/base.html' %}

{% block title %}
Home
{% endblock %}

{% load static %}

{% block content %}
<body id="bg" style="background-image:url('{% static 'customer/items/back10.jpg' %}')";>
   <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
       <h5 align="left">User Type</h5><br>
        <a href="{% url 'adminHome' %}"> Admin &#8202 &#8202</a><br><br>
        <a href="{% url 'customerHome' %}"> Customer &#8202 &#8202</a><br><br>
       <a href="{% url 'empHome' %}"> Employee &#8202 &#8202</a>


</body>
<style>
    #bg{
    background-size: 1140px 661px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment:fixed;

    }

</style>
</html>




{% endblock %}